@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    padding: 20px 40px;
}

.navbar>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-left: 40px;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    transition: 0.5s all;
    padding-bottom: 2px;
}
#active{
    color: #7F4227;
    border-bottom: 1px solid #7F4227;
}
.navbar>ul>li>a:hover{
    color: #7F4227;
    border-bottom: 1px solid #7F4227;
}
.more{
    position: relative;
}
.dropdown{
    list-style: none;
    position: absolute;
		top: 110%;
		display: none;
        box-shadow: 0px 0px 5px rgb(211, 211, 211);
        padding: 10px 30px 10px 0px;
        background-color: #ffffff;
}
.dropdown>li{
    padding: 5px 20px;
    font-size: 0.9em;
    width: 100%;
}
.dropdown>li>a{
    text-decoration: none;
    color: black;
    transition: 0.5s all;
}
.dropdown>li>a:hover{
    color: #7F4227;
}
.more:hover .dropdown{
    display: block; 
}
.dropdown>li:hover .dropdown{
    display: block;
}
.logo{
    background-image: url('../images/logo.png');
    background-size: cover;
    width: 108px;
    height: 28px;
    cursor: pointer;
}
.userSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
}
.more>a>i{
    font-size: 0.7em;
}
.userSide>i{
    color: black;
    font-size: 1.1em;
    transition: 0.3s all;
    cursor: pointer;
}
.userSide>i:hover{
    color: #7F4227;
    padding-bottom: 5px;
}
.fa-bars{
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}
@media screen and (max-width:767px) {
    header{
        width: 100%;
        padding:20px 20px ;
    }
    .navbar{
        display: none;
    }
    .fa-user1,.fa-magnifying-glass1{
        display: none;
    }
    .fa-bars{
        display: flex;
    }
}
@media screen and (max-width:960px) {
    .navbar>ul{
        padding-left: 0;
    }}
/* Side Menu */
.side{
    display: none;
    position: fixed;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.opacarea{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.461);
}
#close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0 40px 0;
}
#close>i{
    font-size: 1.4em;
    cursor: pointer;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 60%;
}
.sidetop{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.sidetop>nav{
    width: 100%;
}
.sideMenu{
    list-style: none;
    width: 100%;
}
.sideMenu>li{
    width: 100%;
    padding: 10px 5px 10px 0 ;
    border-bottom: 1px solid rgba(179, 179, 179, 0.658);
}
.sideMenu>li>a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
    transition: 0.5s all;
}
.sideMenu>li>a>i{
    color: gray;
}
.sideMenu>li>a:hover{
    color: #7F4227;
}
.moreItem{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.moreItem>a{
    text-decoration: none;
    color: black;
    transition: 0.5s all;
}
.moreItem>a:hover{
    color: #7F4227;
}
.items{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
}
.items>a{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 5px 10px 0 ;
    border-bottom: 1px solid rgba(179, 179, 179, 0.658);
    color: black;
    transition: 0.5s all;
}

.items>a>i{
    color: gray;
}
.items>a:hover{
    color: #7F4227;
}
#back{
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: #7F4227;
}
#back>i{
    color: gray;
    cursor: pointer;
}
.sidebarBtn{
    width: 90%;
    padding: 20px 0;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 0.9em;
    margin-bottom: 20px;
    transition: 1s all;
}
.fa-user2{
    padding-right: 10px;
}
.sidebarBtn:hover{
    background-color: black;
    color: white;
}
#close>i{
    color: gray;
}
/* Search Bar */
#searchBar{
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}
.closing{
    margin-top: 80px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    font-weight: 600;
}
.closing>i{
    font-size: 1.4em;
    cursor: pointer;
}

.input{
    width: 94%;
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
      position: relative;
}
.input>input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-size: 2em;
  
}
.input>i{
    font-size: 1.5em;
    position: absolute;
    right:0;
    top: 20%;
    cursor: pointer;
    transition: 0.3s all;
}
.input>i:hover{
    color: #7F4227;
}

/* Title */
.title{
    margin-top: 70px;
    width: 100%;
    height: 460px;
    background-image: url('../images/bg-about.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 0 30px 40px;
}

/* Video */
.videoSection{
    padding: 80px 0;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 560px;
    background-image: url('../images/banner-video3.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.video:hover .fa-circle-play{
font-size: 9em;
}
.video>i{
    color: #7F4227;
    font-size: 10em;
    filter: drop-shadow(0px 0px 1px white );
    cursor: pointer;
    transition: 1s all;
}
.ivideo{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.461);
}
.texted{
    height: 100%;
    width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
}
.texted>h2{
    font-size: 1em;
    color: gray;
    letter-spacing: 3px;
}
.texted>h3{
    font-size: 2.5em;
}
.texted>p{
    color: gray;
    font-size: 0.9em;
}
@media screen and (max-width:767px) {
    .videoSection{
        flex-direction: column;
        gap: 20px;
    }
    .video, .texted{
        width: 100%;
    }
}
/* Advantages */
.advantages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 140px;
}
.advantages>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
    border: 1px solid gray;
    gap: 30px;
    font-size: 1.2em;
}
.advantages>div>i{
    font-size: 1.3em;
}
@media screen and (max-width:767px) {
    .advantages{
        flex-direction: column;
        height: 600px;
    }
    .advantages>div{
        flex-direction: column;
        width: 100%;
    }
}
/* Team */
.teams{
    width: 100%;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.teamimg{
    background-image: url('../images/banner-51.jpg');
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 600px;
}
.team{
    width: 68%;
    background-color: #F8F5F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.teamed{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.teamed>div{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.teamed>div>p{
    width: 70%;
}
.person{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pp{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.pp1{
    background-image: url('../images/team-1.jpg');
}
.pp2{
    background-image: url('../images/team-2.jpg');
}
.social1{
    display: flex;
    gap: 10px;
}
.social1>a{
    color: black;
    transition: 1s all;
}
.social1>a:hover{
    color: #7F4227;
}
@media screen and (max-width:767px) {
   .teams{
    flex-direction: column;
    align-items: center;
    gap: 30px;
   }
   .teamimg{
    width: 94%;
   }
   .teamed>div>p{
    width: 94%;
    text-align: center;
}
   .team{
    width: 94%;
    padding: 20px 0;
    flex-direction: column;
   }
   .teamed{
    flex-direction: column;
    align-items: center;
   }
   .teamed>div{
    width: 98%;
    align-items: center;
   }
   .person{
    flex-direction: column;
    align-items: center;
   }
   .who{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}

/* Summer Collection */
.collection{
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colimg{
    background-image: url('../images/banner-52.jpg');
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 500px;
}
.coltxt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 48%;
}
.coltxt>h2{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: gray;
    font-weight: 500;
}
.coltxt>p{
    font-weight: 600;
    font-size: 1.5em;
}

@media screen and (max-width:767px) {
    .collection{
     flex-direction: column;
     align-items: center;
     gap: 30px;
    }
   .collection>div{
    width: 100%;
    align-items: center;
    text-align: center;
   }
 }

/* Brands */
.brands{
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    margin: 80px 0 60px 0 ;
    padding-top: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.397);
}
.brands>div{
    width: 20%;
    height: 55px;
    
}
.brand-1{
    background-image: url('../images/brand-2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.brand-2{
    background-image: url('../images/brand-3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.brand-3{
    background-image: url('../images/brand-5.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.brand-4{
    background-image: url('../images/brand-4.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
}
@media screen and (max-width:767px) {
  .brands{
    flex-direction: column;
    gap: 20px;
    height: 400px;
  }
  .brands>div{
    width: 50%;
  }
}

/* Posts */
.posts{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
align-items: center;

}
.posts>a{
display: flex;
width: 210px;
height: 210px;
text-decoration: underline;
color: #ffffff;
}
.layout{
    display: none;
    background-color: rgba(35, 35, 35, 0.386);
    width: inherit;
    height: inherit;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    transition: 1s all;
}
.posts>a:hover .layout{
display: flex;
}
#ig-1{
    background-image: url('../images/ig-1.jpg');
    background-size: cover;
    background-position: center;
}
#ig-2{
    background-image: url('../images/ig-2.jpg');
    background-size: cover;
    background-position: center;
}
#ig-3{
    background-image: url('../images/ig-3.jpg');
    background-size: cover;
    background-position: center;
}
#ig-4{
    background-image: url('../images/ig-4.jpg');
    background-size: cover;
    background-position: center;
}
#ig-5{
    background-image: url('../images/ig-5.jpg');
    background-size: cover;
    background-position: center;
}
#ig-6{
    background-image: url('../images/ig-6.jpg');
    background-size: cover;
    background-position: center;
}


/* Footer */
footer{
    display: flex;
    flex-direction: column;
    width: 94%;
    align-items: center;
    padding-top: 70px;
}
.logo-f{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.313);
}
.ftr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 70px 0;
    font-size: 0.9em;
}
.ftr>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidetrim>a{
    text-decoration: none;
    color: gray;
    transition: 0.5s all;
}
.aboutSide>a{
    color: black;
    text-decoration: none;
    transition: 0.5s all;
}
.sidetrim>a:hover{
    color: #7F4227;
}
.aboutSide>a:hover{
    color: #7F4227;
}

.social{
    display: flex;
    gap: 30px;
}
.social>a{
    color: black;
    transition: 0.5s all;
}
.social>a:hover{
    color: #7F4227;
}
.bgpost{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s all;
    cursor: pointer;
}
.texting{
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.texting>p{
    font-size: 0.8em;
}
.hbg{
    letter-spacing: 4px;
}
.bgpost:hover .texting{
    color: #7F4227;
}
.cr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.9em;
    border-top: 1px solid rgba(128, 128, 128, 0.313);
}
@media screen and (max-width:767px) {
    .ftr{
        flex-direction: column;
        justify-content: space-around;
        gap: 60px;
        align-items: center;
    }
    .ftr>div{
        width: 98%;
    }
    .cr{
        justify-content: center;
    }
    .cr>img{
        display: none;
    }
}