@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    padding: 20px 40px;
}

.navbar>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding-left: 40px;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    transition: 0.5s all;
    padding-bottom: 2px;
}
#active{
    color: #7F4227;
    border-bottom: 1px solid #7F4227;
}
.navbar>ul>li>a:hover{
    color: #7F4227;
    border-bottom: 1px solid #7F4227;
}
.more{
    position: relative;
}
.dropdown{
    list-style: none;
    position: absolute;
		top: 110%;
		display: none;
        box-shadow: 0px 0px 5px rgb(211, 211, 211);
        padding: 10px 30px 10px 0px;
        background-color: #ffffff;
}
.dropdown>li{
    padding: 5px 20px;
    font-size: 0.9em;
    width: 100%;
}
.dropdown>li>a{
    text-decoration: none;
    color: black;
    transition: 0.5s all;
}
.dropdown>li>a:hover{
    color: #7F4227;
}
.more:hover .dropdown{
    display: block; 
}
.dropdown>li:hover .dropdown{
    display: block;
}
.logo{
    background-image: url('../images/logo.png');
    background-size: cover;
    width: 108px;
    height: 28px;
    cursor: pointer;
}
.userSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
}
.more>a>i{
    font-size: 0.7em;
}
.userSide>i{
    color: black;
    font-size: 1.1em;
    transition: 0.3s all;
    cursor: pointer;
}
.userSide>i:hover{
    color: #7F4227;
    padding-bottom: 5px;
}
.fa-bars{
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}
@media screen and (max-width:767px) {
    header{
        width: 100%;
        padding:20px 20px ;
    }
    .navbar{
        display: none;
    }
    .fa-user1,.fa-magnifying-glass1{
        display: none;
    }
    .fa-bars{
        display: flex;
    }
}
@media screen and (max-width:960px) {
    .navbar>ul{
        padding-left: 0;
    }
}
/* Side Menu */
.side{
    display: none;
    position: fixed;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.opacarea{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.461);
}
#close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0 40px 0;
}
#close>i{
    font-size: 1.4em;
    cursor: pointer;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 60%;
}
.sidetop{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.sidetop>nav{
    width: 100%;
}
.sideMenu{
    list-style: none;
    width: 100%;
}
.sideMenu>li{
    width: 100%;
    padding: 10px 5px 10px 0 ;
    border-bottom: 1px solid rgba(179, 179, 179, 0.658);
}
.sideMenu>li>a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
    transition: 0.5s all;
}
.sideMenu>li>a>i{
    color: gray;
}
.sideMenu>li>a:hover{
    color: #7F4227;
}
.moreItem{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.moreItem>a{
    text-decoration: none;
    color: black;
    transition: 0.5s all;
}
.moreItem>a:hover{
    color: #7F4227;
}
.items{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
}
.items>a{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px 5px 10px 0 ;
    border-bottom: 1px solid rgba(179, 179, 179, 0.658);
    color: black;
    transition: 0.5s all;
}

.items>a>i{
    color: gray;
}
.items>a:hover{
    color: #7F4227;
}
#back{
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: #7F4227;
}
#back>i{
    color: gray;
    cursor: pointer;
}
.sidebarBtn{
    width: 90%;
    padding: 20px 0;
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 0.9em;
    margin-bottom: 20px;
    transition: 1s all;
}
.fa-user2{
    padding-right: 10px;
}
.sidebarBtn:hover{
    background-color: black;
    color: white;
}
#close>i{
    color: gray;
}
/* Search Bar */
#searchBar{
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}
.closing{
    margin-top: 80px;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    font-weight: 600;
}
.closing>i{
    font-size: 1.4em;
    cursor: pointer;
}

.input{
    width: 94%;
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
      position: relative;
}
.input>input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-size: 2em;
  
}
.input>i{
    font-size: 1.5em;
    position: absolute;
    right:0;
    top: 20%;
    cursor: pointer;
    transition: 0.3s all;
}
.input>i:hover{
    color: #7F4227;
}

/* Title */

.title{
    margin-top: 80px;
    width: 100%;
    height: 450px;
    background-image: url('../images/bg-breadcrumb.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.title>p{
    font-weight: 500;
    padding-bottom: 40px;
}
.linked{
    transition: 0.5s all;
    color:black; 
    cursor:pointer
}
.linked:hover{
    color: #7F4227;
}
.categories{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
    gap: 20px;
}

.categories>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.categories>div>p{
    transition: 0.5s all;
    font-size: 1em;
    font-weight: 600;
}
.categories>div:hover p{
    color: #7F4227;
}
.categories>div:hover img{
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
}
.categories>div>img{
    transition: 1s all;
    border-radius: 50%;
    object-fit: cover;
}
@media screen and (max-width:780px) {
    .title{
        padding: 60px 0;
        height: fit-content;
    }
}
/* Main Part */
.main{
    width: 94%;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.left{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.right{
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.left>div>h3{
    font-size: 1.3em;
    font-weight: 600;
}
.brands,.ctgs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ctgs>p,.brands>p{
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.5s all;
    color: rgb(107, 107, 107);
}
.ctgs>p:hover,.brands>p:hover{
    color: #7F4227;
}
.colors{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.color{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 50%;
}
.color>div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.5s all;
}
.color>div:hover{
    box-shadow: 0px 0px 3px rgba(27, 27, 27, 0.749);

}
#beige{
    background-color: #E6D4B4;
}
#white{
    background-color: white;
}
#black{
    background-color: black;
}
#yellow{
    background-color: #C69A02;
}
#pink{
    background-color: pink;
}
#gray{
    background-color: gray;
}
#red{
    background-color: #EF5050;
}
#green{
    background-color: #20B2AA;
}
.size{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sz{
    display: flex;
    gap: 10px;
}
.sz>div{
    width: 45px;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.384);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    color: rgb(64, 64, 64);
    cursor: pointer;
    transition: 0.5s all;
}
.sz>div:hover{
    border-color: #7F4227;
}
.rbottom{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}
select{
    border: 1px solid black;
   width: 150px;
   height: 40px;
   font-size: 0.9em;
   cursor: pointer;
   outline: none;
}
option{
    width: 20px;
    border: 1px solid black;
    cursor: pointer;
}
.sections{
    padding-right: 40px;
    display: flex;
    gap: 20px;
}
.right{
    display: flex;
    flex-direction: column;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.productPic-1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    transition: 1s all;
}
.productPic-1>p{
    font-size: 0.9em;
    padding: 0 5px;
    background-color: #ffffff;
    font-weight: 600;
}
.product-4{
    background-image: url('../images/19-1.jpg');
}
.product-8{
    background-image: url('../images/9-1.jpg');
}
.product-8:hover{
    background-image: url('../images/9-2.jpg');
}
.product-9{
    background-image: url('../images/28-1.jpg');
}
.product-9:hover{
    background-image: url('../images/28-2.jpg');
}
.product-10{
    background-image: url('../images/29-1.jpg');
}
.product-10:hover{
    background-image: url('../images/29-2.jpg');
}
.product-1{
    background-image: url('../images/22-1.jpg');
}
.product-1:hover{
    background-image: url('../images/22-2.jpg');
}

.product-7{
    background-image: url('../images/14-1.jpg');
}
.product-7:hover{
    background-image: url('../images/14-2.jpg');
}

.product-3{
    background-image: url('../images/10-1.jpg');
}
.product-3:hover{
    background-image: url('../images/10-2.jpg');
}

.product-2{
    background-image: url('../images/33-1.jpg');
}
.product-2:hover{
    background-image: url('../images/33-3.jpg');
}
.product-6{
    background-image: url('../images/2-1.jpg');
}
.product-6:hover{
    background-image: url('../images/2-2.jpg');
}
.product-5{
    background-image: url('../images/16-1.jpg');
}
.product-5:hover{
    background-image: url('../images/16-2.jpg');
}
.product-11{
    background-image: url('../images/15-1.jpg');
}
.product-12{
    background-image: url('../images/4-1.jpg');
}
.product-12:hover{
    background-image: url('../images/4-2.jpg');
}
.product-13{
    background-image: url('../images/12-1.jpg');
}
.product-13:hover{
    background-image: url('../images/12-2.jpg');
}
.product-14{
    background-image: url('../images/31.jpg');
}
.product-14:hover{
    background-image: url('../images/31-1.jpg');
}
.product-15{
    background-image: url('../images/26-1.jpg');
}
.product-15:hover{
    background-image: url('../images/26-2.jpg');
}
.product-16{
    background-image: url('../images/6-1.jpg');
}
.product-16:hover{
    background-image: url('../images/6-2.jpg');
}
.product-17{
    background-image: url('../images/3-1.jpg');
}
.product-17:hover{
    background-image: url('../images/3-2.jpg');
}
.product-18{
    background-image: url('../images/18-1.jpg');
}
.product-18:hover{
    background-image: url('../images/18-2.jpg');
}
.product>h4{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
}
.price{
    margin-bottom: 20px;
}

.shop-options{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: all 1s;
    z-index: -1;
    transform: translateY(40%);
}
.shop-options>i{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s all;
}
.shop-options>i:hover{
    color: #ffffff;
    background-color: #7F4227;
}
.productPic-1:hover .shop-options{
    transform: translateY(0);
    z-index: 1;
}

.variants{
    display: flex;
    gap: 15px;
}
.white{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgba(128, 128, 128, 0.511);
    background-color: antiquewhite;
    cursor: pointer;
    transition: 0.5s all;
}
.yellow{
    width: 25px;
    height: 25px;
    border-radius: 50%;
     border: 2px solid rgba(128, 128, 128, 0.511);
    background-color: yellow;
    cursor: pointer;
    transition: 0.5s all;
}
.orange{
    width: 25px;
    height: 25px;
    border-radius: 50%;
     border: 2px solid rgba(128, 128, 128, 0.511);
    background-color: orange;
    cursor: pointer;
    transition: 0.5s all;
}
.black{
    width: 25px;
    height: 25px;
    border-radius: 50%;
     border: 2px solid rgba(128, 128, 128, 0.511);
    background-color: black;
    cursor: pointer;
    transition: 0.5s all;
}
.gray{
    width: 25px;
    height: 25px;
    border-radius: 50%;
     border: 2px solid rgba(128, 128, 128, 0.511);
    background-color: gray;
    cursor: pointer;
    transition: 0.5s all;
}
.orange:hover,.yellow:hover,.white:hover,.black:hover,.gray:hover{
    border: 2px solid rgb(141, 141, 141);
}

.section-2{
    display: none;
}

.loadmore{
    width: 30%;
    height: 60px;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.393);
    transition: 1s all;
    cursor: pointer;
    font-size: 1em;
}
.loadmore:hover{
    background-color: #7F4227;
    color: white;
}
@media screen and (min-width:501px) and (max-width:960px) {
 .main{
    flex-direction: column-reverse;
 }
 .right{
    width: 100%;
 }
 .loadmore{
    width: 80%;
 }

 .left{
    margin-top: 40px;
    border-top: 1px solid rgba(128, 128, 128, 0.329);
    padding-top: 60px;
    width: 100%;
    flex-direction: row;
 }
 .product{
    width: 45%;
 }
 .left>div{
    width: 22%;
    align-items: center;
 }
 .color{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .sz{
    flex-direction: column;
 } 
 .brands>p{
    text-align: center;
 }
}
@media screen and (max-width:500px){
    .main{
        flex-direction: column-reverse;
     }
     .right{
        width: 100%;
     }
     .loadmore{
        width: 80%;
     }
    .left{
        margin-top: 40px;
        border-top: 1px solid rgba(128, 128, 128, 0.329);
        padding-top: 100px;
        width: 100%;
        flex-direction: column;
     } 
     .product{
    width: 100%;
 }
 .brands>p{
    text-align: center;
 }
     .left>div{
        width: 100%;
        align-items: center;
     }
     .color{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .sz{
        flex-direction: row;
     }
}
/* Footer */
footer{
    display: flex;
    flex-direction: column;
    width: 94%;
    align-items: center;
    padding-top: 70px;
}
.logo-f{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.313);
}
.ftr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 70px 0;
    font-size: 0.9em;
}
.ftr>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidetrim>a{
    text-decoration: none;
    color: gray;
    transition: 0.5s all;
}
.aboutSide>a{
    color: black;
    text-decoration: none;
    transition: 0.5s all;
}
.sidetrim>a:hover{
    color: #7F4227;
}
.aboutSide>a:hover{
    color: #7F4227;
}

.social{
    display: flex;
    gap: 30px;
}
.social>a{
    color: black;
    transition: 0.5s all;
}
.social>a:hover{
    color: #7F4227;
}
.bgpost{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s all;
    cursor: pointer;
}
.texting{
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.texting>p{
    font-size: 0.8em;
}
.hbg{
    letter-spacing: 4px;
}
.bgpost:hover .texting{
    color: #7F4227;
}
.cr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.9em;
    border-top: 1px solid rgba(128, 128, 128, 0.313);
}
@media screen and (max-width:767px) {
    .ftr{
        flex-direction: column;
        justify-content: space-around;
        gap: 60px;
        align-items: center;
    }
    .ftr>div{
        width: 98%;
    }
    .cr{
        justify-content: center;
    }
    .cr>img{
        display: none;
    }
}